body {
    background-image: url("../images/background.jpg");
    background-size: 100vw 100vh;
}

.jumbotron {
    background-color: transparent !important;
}

#messages {
    height: 35vh;
    background-color: white;
    overflow: auto;
}